[submodule "cpa/cpa_openmls_project"]
	path = cpa/cpa_openmls_project
	url = git@github.com:russoanto/cpa_openmls_project.git

[submodule "OS/antOS"]
	path = OS/antOS
	url = git@github.com:russoanto/antOS.git
